@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  transition: all 0.7s;
}
.container {
  display: flex;
  height: 100vh;
}
.open {
  width: 20vw;
  background: #e32133;
  position: absolute;
  height: 100vh;
  transition: all 0.5s;
}
#navigation {
  background: #26262a;
  color: #fff;
  width: 5vw;
  transition: all 0.5s;
}

#burger {
  width: 100%;
  cursor: pointer;
  margin-top: 20px;
  display: grid;
  padding: 10px;
  justify-content: center;
}

.burger-tige {
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 50px;
  margin: 3px 0;
  transition: all 0.5s;
}
#title {
  rotate: -90deg;
  margin-top: 50vh;
  font-size: 80px;
  letter-spacing: 1vh;
}
#choixTaile {
  background: linear-gradient(to left, #cccccc 30%, #26262a 30%);
  border: 0;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
#patate {
  border: 0;
  background: #26262a;
  color: #e32133;
}
.btnAdd {
  padding: 15px;
  border: 0;
  background: #e32133;
  color: #fff;
  cursor: pointer;
  width: 12vw;
  letter-spacing: 1px;
}
section {
  width: 95vw;
  padding: 0 55px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.bloc {
  width: 72vw;
  height: 70vh;
  margin: 25px auto;
  display: flex;
}
#price {
  color: #e32133;
  font-size: larger;
}
.contenue-article {
  width: 38vw;
  padding: 0 10px;
}
.icon {
  width: 35px;
  cursor: pointer;
  padding: 5px;
}
.panier {
  display: flex;
}

.circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #e32133;
  margin-top: 5px;
  transition: all 0.7s;
  transition-property: margin;
  transition-delay: 0.2s;
}
.carrousel-img {
  width: 6vw;
  height: 70vh;
  display: flex;
  flex-flow: column wrap-reverse;
  justify-content: space-between;
  padding: 4px;
}
.photoVetement {
  width: 100%;

  cursor: pointer;
}

#img-Selected {
  width: 100%;
  height: 70vh;
  padding: 5px;
}
.card {
  padding: 0 10px;
}
.footPage {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footPage > a {
  text-decoration: none;
  color: #26262a;
}
